<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pews.brightdreamsfoundation.mapper.MissionMapper">

    <update id="releaseMission" >
        update t_mission
        set release_date = NOW(), is_released = 1
        where id = #{id};
    </update>
    <select id="selectCompletedMission" resultType="com.pews.brightdreamsfoundation.beans.Mission">
        select t_mission.id, mission_name, t_mission.description, kind, reward, deadline, release_date, is_deleted, picture_url, is_released, target_num
        from t_mission, t_mission_history
        where t_mission.id = t_mission_history.mission_id and t_mission_history.user_id = #{id} and t_mission_history.status = 1;
    </select>

</mapper>